<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <title>Budget App</title>
    </head>
    <body>
        <div class="container">
            <h1>Add a New Transaction</h1>
            <form action="/budgtr/" method="POST">
                <div class="row">
                    <div class="four columns">
                        <input class="u-full-width" type="text" name="date" placeholder="date" id="date">
                    </div>
                    <div class="four columns">
                        <input class="u-full-width" type="text" name="name" placeholder="name" id="name">
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        <input class="u-full-width" type="text" name="amount" placeholder="amount" id="amount">
                    </div>
                    <div class="four columns">
                        <input class="u-full-width" type="text" name="from" placeholder="from" id="from">
                    </div>
                </div>
                <div class="row">
                    <div class="eight columns">
                        <input class="u-full-width" type="text" name="tags" placeholder="additional tags" id="tags">
                    </div>
                </div>


                <input class="button" type="submit" value="CREATE NEW TRANSACTION">
            </form>

        </div>
    </body>
</html>
