* {
    box-sizing: border-box;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 322px;
    width: 322px;

}

.red-squares {
    height: 40px;
    width: 40px;
}

.black-squares {
    height: 40px;
    width: 40px;
}
