* {
  box-sizing: border-box;
}

.App {
  height: 150vh;
  width: 100vw;
  text-align: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border-bottom: 1px solid black;
  background-color: #d7f4fc;
  box-shadow: 0 6px 8px grey;
  margin-bottom: 1%;
}

span {
  font-size: 75%;
  font-style: italic;
}

.main-content {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: scroll;
}

.people {
  width: 20%;
  height: 90%;
  border: 1px solid grey;
  overflow: scroll;
  box-shadow: inset 0 0 3px 4px gainsboro;
  background-color: #ffffed;
}

.dating-pedestal {
  width: 55%;
  height: 90vh;
  border: 1px solid grey;
  box-shadow: 0 0 5px 5px gainsboro;
  background-color: #fff;
}

.dater {
  margin: 10px;
  border-bottom: 1px solid grey;
}

.dater:hover {
  animation-name: grow;
}

img {
  height: 65%;
  border-radius: 50%;
}

/* Footer Input *************************/
footer {
  height: 15%
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 40%;
}

@keyframes grow {
  from {transform: scale(1)}
  to {transform: scale(1.2)}
}
