/* * {
  border: 1px solid silver;
} */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .1em;
}

.top {
  background-image: url(img/sailboat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top > h1 {
  font-size: 65px;
}

.top > h2 {
  font-size: 20px;
}

.top > h1, h2 {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  letter-spacing: .1em;
}

img {
  width: 100%;
  vertical-align: bottom;
}

nav {
  margin: 0;
  background-color: rgb(27,27,27)
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 5%;
}

.navBar > a {
  padding: 1%;
  margin: 0 1%;
  font-size: 1.3vw;
  text-decoration: none;
  color: rgb(168, 171, 170);
  text-align: center;
}

#statement {
  margin: 5% 0;
}

#statement {
  text-align: center;
  font-size: 2em;
  margin: 5% 8%;
  line-height: 2em;
  padding: 5%;
  /* font-weight: 100; */
}

section {
  display: flex;
  justify-content: space-around;
  margin: 0 2%;
}

.columns {
  margin: 0 1%;
}

footer {
  display: flex;
  justify-content: center;
}

footer > img {
  width: inherit;
}
