<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Pokemon Pokedex</title>
    </head>
    <body>
        <h1>Pokedex</h1>
        <ul>
            <% pokemon.forEach((pokemon, index) => { %>
                <li>
                    <a href="/pokemon/<%=index%>">
                        <%=pokemon.name%>
                        <img src="<%=pokemon.img%>" alt="pokemon">
                    </a>

                </li>
            <% }) %>
        </ul>

    </body>
</html>
