body {
  background-color: rgba(200, 240, 255, .5);
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  padding: 20px;
  margin: auto;
}

h3 {
  text-align: center;
  font-size: 25px;
  color: rgba(200, 50, 0, .8);
}

img {
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  border: 2px solid black;
}

nav {
  text-align: center;
  padding-bottom: 15px;
}

h2 {
  font-family: sans-serif;
  padding: 0px;
}

#exp {
  text-align: center;
  border: 2px solid black;
  padding: 8px;
  float: left;
}

p {
  padding: 10px;
}

article {
  text-align: center;
}

ul {
  display: inline;
  padding: 10px;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  padding: 15px;
}
