<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Food</title>
    </head>
    <body>
        <h1>At Foo Bar</h1>
            <a href="/drinks">Back to Home</a>

        <ul>
            <li>
                <h2>
                    <%= aFood.name%>
                </h2>
                <h3>
                    Price $<%= aFood.price %>
                </h3>
                <img src="<%= aFood.image %>">
            </li>

        </ul>


        <style type="text/css">
            body {
                text-align: center;
                background-image: url("https://www.edleysbbq.com/wp-content/uploads/2017/02/woodBG460.jpg");
                background-color: #987654;
            }

            h1 {
                font-size: 10vw;
                color: white;
            }

            h2, h3 {
                color: white;
            }

            a {
                text-decoration: none;
                color: white;
                cursor: pointer;
            }

            img {
                height: 50vh;
                border: 2px solid black;
            }

        </style>
    </body>
</html>
