<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Log</title>
    </head>
    <body>
        <h1>New Log</h1>
        <form class="" action="/logs" method="post">
            Title: <input type="text" name="" value="title"/><br>
            Entry: <input type="text" name="" value="entry"/><br>
            Ship is Broken: <input type="checkbox" name="" value="shipIsBroken"/><br>
            <input type="submit" name="" value="Submit Log">
        </form>
    </body>
</html>
