<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=log.title%></h1>
        <%=log.entry %>.
        <% if(log.shipIsBroken === true){ %>
            It is not ready to sail
        <% } else { %>
            It is ready to sail
        <% } %>
    </body>
</html>
